* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 245, 245);
}

h1 {
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.fas,
.fa-solid {
  pointer-events: none;
}

.todo {
  width: 800px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  text-align: center;
}
.todo .header {
  border-radius: 5px 5px 0 0;
  padding: 30px;
  background-image: linear-gradient(220deg, #ff0055 0%, #09c6f9 100%);
}
.todo .todo-input {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(79, 82, 92);
  background-color: rgb(245, 245, 245);
}
.todo .error-info {
  margin-top: 20px;
  color: rgb(2, 84, 161);
}
.todo .btn-add {
  margin-top: 20px;
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  color: rgb(26, 26, 26);
  background-color: rgb(245, 245, 245);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.todo .btn-add:hover {
  color: #fff;
  background-color: rgb(79, 82, 92);
}
.todo .todolist {
  padding: 20px 0;
}
.todo .todolist h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}
.todo .todolist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  background-color: rgb(245, 245, 245);
}
.todo .tools {
  display: inline-block;
}
.todo .tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}
.todo .tools button:hover {
  background-color: #ddd;
}
.todo .tools .complete {
  color: rgb(0, 132, 255);
}
.todo .tools .edit {
  font-weight: bold;
  color: rgb(15, 179, 69);
}
.todo .tools .delete {
  color: tomato;
}
.todo .completed {
  font-size: 12px;
  color: rgb(79, 82, 92);
  text-decoration: line-through;
  font-style: italic;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  color: rgb(245, 245, 245);
  background-color: rgb(79, 82, 92);
  border-radius: 5px;
}
.popup h3 {
  padding: 20px;
}
.popup-info {
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
}
.popup-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}
.popup-body .popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(79, 82, 92);
  background-color: rgb(245, 245, 245);
}
.popup-body .popup-btn {
  width: 30%;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: rgb(26, 26, 26);
  background-color: rgb(245, 245, 245);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.popup-body .popup-btn:hover {
  color: #fff;
  background-color: rgb(0, 132, 255);
}

@media (min-width: 491px) {
  .todo .btn-add {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */