@use "./utilities/colors" as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	margin-top: 120px;
	font-family: "Montserrat", sans-serif;
	background-color: c.$light;
}

h1 {
	color: c.$light;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.fas,
.fa-solid {
	pointer-events: none;
}

.todo {
	width: 800px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
	text-align: center;

	.header {
		border-radius: 5px 5px 0 0;
		padding: 30px;
		background-image: c.$gradient;
	}

	.todo-input {
		width: 80%;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: c.$light-dark;
		background-color: c.$light;
	}

	.error-info {
		margin-top: 20px;
		color: c.$dark-blue;
	}

	.btn-add {
		margin-top: 20px;
		padding: 10px 22px;
		border: none;
		border-radius: 5px;
		color: c.$deep-dark;
		background-color: c.$light;
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			color: #fff;
			background-color: c.$light-dark;
		}
	}

	.todolist {
		padding: 20px 0;

		h3 {
			text-transform: uppercase;
			margin-bottom: 16px;
		}

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 15px;
			padding-left: 20px;
			text-align: left;
			list-style: none;
			background-color: c.$light;
		}
	}

	.tools {
		display: inline-block;

		button {
			padding: 15px 10px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #ddd;
			}
		}

		.complete {
			color: c.$light-blue;
		}

		.edit {
			font-weight: bold;
			color: rgb(15, 179, 69);
		}

		.delete {
			color: tomato;
		}
	}

	.completed {
		font-size: 12px;
		color: c.$light-dark;
		text-decoration: line-through;
		font-style: italic;
	}
}

.popup {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 800px;
	color: c.$light;
	background-color: c.$light-dark;
	border-radius: 5px;

	h3 {
		padding: 20px;
	}

	&-info {
		color: c.$light;
		margin-bottom: 20px;
	}

	&-body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		padding: 10px;

		.popup-input {
			width: 100%;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			color: c.$light-dark;
			background-color: c.$light;
		}

		.popup-btn {
			width: 30%;
			display: inline-block;
			padding: 10px;
			margin: 20px;
			border: none;
			border-radius: 5px;
			color: c.$deep-dark;
			background-color: c.$light;
			text-transform: uppercase;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: #fff;
				background-color: c.$light-blue;
			}
		}
	}
}

@media (min-width: 491px) {
	.todo {
		.btn-add {
            margin-left: 10px;
		}
	}
}
